<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scal">

        <title>Hello!</title>

        <link rel="stylesheet" href="/static/style.css">

        <script src="/script.js" defer></script>
    </head>
    <body>
    
        <h1>Feed Raspi</h1>

        <h2>How to play!</h2>

        <p>1) use the joystick to move the player around: up, down, left, right</p>
        <p>2) try to reach the food item with those movements</p>
        <p>3) once you reach it, you've succeeded! now keep going ands seeking the food item!</p>
    

    </div>
    <script src="https://rbutton.glitch.me/button.js" defer></script>
    </body>
</html>